body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* #wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
} */
.home-page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
}
.about-page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
}
.rental-page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.error-page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}

p {
  margin-block: 0;
}