.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#A7A8A7;
    border-radius: 25px;
    width: 80vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    max-width: 1240px;
    height: 223px;
}

.backgroundIMG {
    width: 80vw;
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: multiply;
    border-radius: 25px;
}

h1 {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 48px;
    font-weight: 500;
    margin: auto; 
    position: absolute;
}
#card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    
    max-width: 1240px;
    grid-row-gap: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 50px;
    margin-bottom: 50px;

}

#card div {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    margin: auto;
}
.background-card{
    background-size: cover;
}

.rect {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    display: flex;
    align-items: end;
}

#card span {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    margin: 20px;
}

@media screen and (max-width: 1024px) {
    /* Pour les écrans plus petits, réduisez le nombre de colonnes */
    #card {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 768px) {

    #card {
        grid-template-columns: 1fr;
        background-color: #ffffff;
        gap: 20px;
        padding: 0;
        margin-bottom: 27px;
        width: 335px;
        padding-left: 20px;
        padding-right: 20px;

    }

    #card div {
        height: 255px;
    }

    .background-container {
        margin-top: 27px;
        margin-bottom: 22px;   
    }
        


    .background-container, .backgroundIMG {
        justify-content: flex-start;
        height: 111px;
        background-size: cover;
        min-width: 335px;
    }

    h1 {
        font-size: 24px;
        margin-left: 10px;
        width: 60%;
    }
  }