.wrapper-collapse-about {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
    max-width: 1008px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.collapse-about {
    width: 100%;
}


@media screen and (max-width: 768px) {
    .wrapper-collapse-about {
        width: 80%;
        min-width: 335px;
        gap: 20px;
        margin-bottom: 20px;
    }
    
}