#error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

#error-container>* {
    margin-bottom: 9%;
}

#error-container span {
    color: #ff6060;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    margin-top: 9%;
    font-size: 20vh;
}

#error-container p {
    color: #ff6060;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    font-size: 3vh;
    margin-top: 0;
}

#errorBack {
    color: #ff6060;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    font-size: 2vh;
}
