
.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#A7A8A7;
    border-radius: 25px;
    width: 80vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
}

.backgroundIMG {
    width: 80vw;
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: multiply;
    border-radius: 25px;
}

h1 {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 48px;
    font-weight: 500;
    margin: auto; 
    position: absolute;
}
#card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    width: 1240px;
    grid-row-gap: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 50px;
    margin-bottom: 50px;

}

#card div {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    margin: auto;
}
.background-card{
    background-size: cover;
}

.rect {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    display: flex;
    align-items: end;
}

#card span {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    margin: 20px;
}
