
.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#A7A8A7;
    border-radius: 25px;
    width: 1240px;
    margin: auto;
    margin-top: 50px;
}

.backgroundIMG {
    width: 1240px;
    height: 223px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: multiply;
    border-radius: 25px;
}

h1 {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 48px;
    font-weight: 500;
    margin: auto; 
    position: absolute;
}