.d-footer {
    background-color: #000000;
    height: 209px;
    display: flex;
    flex-direction: column;
}

.d-footer img {
    margin: auto;
    margin-top: 66px;
}

.d-footer .text-wrapper {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 34.2px;
    margin-bottom: 29px;
    text-align: center;
}

