.Header {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 34px;
    width: 250px;
}
.link {
    color: #ff6060;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}
