// .selected {
//     display: block;
//     color: white;
//     font-size: 18px;
//     font-weight: 500;
// }

// .carousel {
//     display: flex;
//     align-items: center;
// }

// .imgCarou{
//     width: 100%;
//     height: 415px;
//     object-fit: cover;
//     z-index: 1;
//     border-radius: 25px;
// }
// .carousel button {
//     border: none;
//     background: none;
//     color: white;
//     position: absolute;
//     z-index: 2;
//     margin: auto;
//     font-size: 5rem;
// }
// .prev-button {
//     left: 23px;
// }
// .next-button {
//     right: 23px;
// }
/* Ajoutez ces styles CSS dans votre fichier CSS ou SCSS existant */

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 2;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .carousel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  
  .carousel-slide {
    opacity: 0;
    transition: opacity 0.5s;
    display: none; /* Cache toutes les diapositives par défaut */
    justify-content: center;
    align-items: center;
  }
  
  .carousel-slide.active {
    opacity: 1;
    display: flex; /* Montre uniquement la diapositive active */
    width: 100%;
  }
  
  .imgCarou {
    width: 100%;
    height: 415px;
    object-fit: cover;
    z-index: 1;
    border-radius: 25px;
  }
  
  
.main {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Montserrat-Medium", Helvetica;
}

.wrapper-profil {
    color:#ff6060;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 24px;
}

.wrapper-title-loc-tag {
    display: flex;
    flex-direction: column;
}

.wrapper-title-loc-tag span {
    font-size: 36px;
    font-weight: 500;
}

.wrapper-title-loc-tag p {
    font-size: 18px;
    font-weight: 500;
    margin-block-start: 5px;
    margin-bottom: 20px;
}

.wrapper-title-loc-tag ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
}

.wrapper-title-loc-tag li {
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    min-width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    height: 25px;
}

.wrapper-name {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 18px;
}

.wrapper-name-pic {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}

.wrapper-name-pic img {
    border-radius: 32px;
    width: 64px;
    object-fit: cover;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 196px;
    margin-top: 21px;
}

.wrapper-collapse {
    display: flex;
    justify-content: space-between;
}

.collapse-rental {
    width: 40vw;
}

.collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    padding: 10px;
    border-radius: 10px;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.collapse img {
    margin-right: 10px;
}

.collapse-content {
    padding: 20px;
    color: #ff6060;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px 10px 5px 5px;
    line-height: 2em;
}

li {
    list-style: none;
}
